
.header{
    background-color: #330000;
    display: flex;
    justify-content: space-between;
}


.grid{
    display: flex;
    background-color: #0000DD;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    background-color: #006600;
    justify-content: flex-end;
}